@page
@model Vizallasuj2.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Víz[0].Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Víz[0].Vizallas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Víz[0].Varos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Víz[0].Folyo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Víz) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vizallas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Varos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Folyo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
